/* Meyer's CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS rules */
body{
    box-sizing: border-box;
    background-color: #555;
    color: #FFF;
	padding: 5px;
	text-align: center;
}
#UI{
display: grid;
font-size: large;
margin: auto auto;
grid-template-columns: repeat(4, 75px);
grid-template-rows: 100px repeat(5, 75px);
justify-content: center;
grid-gap: 3px;
grid-template-areas: 'display display display display'
					'clear divide multiply erase'
					'key7 key8 key9 subtract'
					'key4 key5 key6 add'
					'key1 key2 key3 equal'
					'key0 key0 decimal equal';
}
.calcBtn{
	background-color: #FFF;
	color: #000;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
}
.calcBtn:hover{
	cursor: pointer;
}
.pressed, .calcBtn:active{
	transform: scale(0.9);
	transition: all 0.15s ease 0s;
}
#cssDisplay{
	padding: 4px;
	border: 3px solid black;
	border-radius: 5px;
	grid-area: display;
	background-color: #FFF;
	color: #000;
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}
#cssDisplay *{
	border: 1px black solid;
	flex-grow: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}
#cssKey1{
	grid-area: key1;
}
#cssKey2{
	grid-area: key2;
}
#cssKey3{
	grid-area: key3;
}
#cssKey4{
	grid-area: key4;
}
#cssKey5{
	grid-area: key5;
}
#cssKey6{
	grid-area: key6;
}
#cssKey7{
	grid-area: key7;
}
#cssKey8{
	grid-area: key8;
}
#cssKey9{
	grid-area: key9;
}
#cssKey0{
	grid-area: key0;
}
#cssAdd{
	grid-area: add;
	font-size: 1.5em;
}
#cssSubtract{
	grid-area: subtract;
	font-size: 1.5em;
}
#cssDivide{
	grid-area: divide;
	font-size: 1.5em;
}
#cssMultiply{
	grid-area: multiply;
	font-size: 1.5em;
}
#cssClear{
	grid-area: clear;
	background-color: orange;
	font-size: 1.15em;
}
#cssErase{
	grid-area: erase;
	background-color: orange;
}
#cssEqual{
	grid-area: equal;
	background-color: orange;
	font-size: 1.5em;
}
#cssDecimal{
	grid-area: decimal;
}